*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f8e264; }

@keyframes waggle {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(20deg); } }

@keyframes turnBee {
  35% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  85% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes moveBee {
  0% {
    transform: translateY(0%); }
  35% {
    transform: translateY(0%); }
  35% {
    transform: translateY(-85%); }
  50% {
    transform: translateY(-85%); }
  85% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

@keyframes moveBoxInPath {
  35% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  85% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

.section__header {
  position: relative;
  height: 50vh;
  background-image: url(../img/honeycomb-bg.png);
  background-size: cover;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.418); }

.section__simulation {
  position: relative;
  height: 100vw;
  max-height: 800px; }

.section__simulation-2 {
  position: relative;
  height: 100vw;
  max-height: 800px; }
  .section__simulation-2-closed {
    display: none;
    margin-bottom: 0; }

.section__animation {
  position: relative;
  height: 100vw;
  max-height: 800px; }
  .section__animation-closed {
    display: none;
    margin-bottom: 0; }

.about-the-dance__what-it-is__header {
  font-size: 2rem;
  color: #580808;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.479); }

.about-the-dance__what-it-is__answer {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 10% 0 10%; }

.about-the-dance__how-it-looks__header {
  font-size: 2rem;
  color: #580808;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.479); }

.about-the-dance__how-it-looks__answer-paragraph {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 10% 0 10%; }

.about-the-dance__how-it-looks__answer-video {
  align-content: center;
  width: 80%;
  margin: 2rem 10% 2rem 10%;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

.about-the-dance__how-it-is-choreographed__header {
  font-size: 2rem;
  color: #580808;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.479); }

.about-the-dance__how-it-is-choreographed__answer-paragraph {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 10% 0 10%; }

.about-the-generator__how-it-works__header {
  font-size: 2rem;
  color: #580808;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.479); }

.about-the-generator__how-it-works__paragraph {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 10% 0 10%; }

.simulation-2 {
  background-color: #03bb03;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 90%;
  max-width: 640px;
  max-height: 640px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.418); }
  .simulation-2__sky {
    height: 25%;
    width: 100%;
    background-color: skyblue;
    position: relative; }
    .simulation-2__sky-sun {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6rem;
      height: 6rem; }
  .simulation-2__field {
    height: 75%;
    width: 75%;
    margin-left: 12.5%;
    background-color: #03bb03;
    position: relative; }
    .simulation-2__field-hive {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4rem;
      height: 4rem; }
      .simulation-2__field-hive-img {
        height: 4rem;
        width: 4rem; }
  .simulation-2__flower-img {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 2rem;
    width: 2rem;
    border-radius: 50%; }
    .simulation-2__flower-img:focus, .simulation-2__flower-img:hover {
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }

.x-coordinate__center {
  left: 50%; }

.x-coordinate__negative-5 {
  left: 0%; }

.x-coordinate__negative-4 {
  left: 10%; }

.x-coordinate__negative-3 {
  left: 20%; }

.x-coordinate__negative-2 {
  left: 30%; }

.x-coordinate__negative-1 {
  left: 40%; }

.x-coordinate__positive-5 {
  left: 100%; }

.x-coordinate__positive-4 {
  left: 90%; }

.x-coordinate__positive-3 {
  left: 80%; }

.x-coordinate__positive-2 {
  left: 70%; }

.x-coordinate__positive-1 {
  left: 60%; }

.y-coordinate__center {
  top: 50%; }

.y-coordinate__positive-5 {
  top: 0%; }

.y-coordinate__positive-4 {
  top: 10%; }

.y-coordinate__positive-3 {
  top: 20%; }

.y-coordinate__positive-2 {
  top: 30%; }

.y-coordinate__positive-1 {
  top: 40%; }

.y-coordinate__negative-5 {
  top: 100%; }

.y-coordinate__negative-4 {
  top: 90%; }

.y-coordinate__negative-3 {
  top: 80%; }

.y-coordinate__negative-2 {
  top: 70%; }

.y-coordinate__negative-1 {
  top: 60%; }

.one {
  border: 1px red solid; }

.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  transform: translate(-50%, -50%);
  max-width: 640px;
  max-height: 640px;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.418); }
  .animation__canvas {
    overflow: hidden;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: gold;
    background-image: url(../img/honeycomb-bg.png);
    background-size: cover; }
    .animation__canvas-turner {
      border-radius: 50%;
      height: 100%;
      width: 100%; }
  .animation__button-toggle {
    background-color: gold;
    text-transform: uppercase;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 3px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
    .animation__button-toggle:focus {
      outline: 0;
      box-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1); }
    .animation__button-toggle:hover {
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
    .animation__button-toggle:active {
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
  .animation__button-close {
    background-color: gold;
    text-transform: uppercase;
    padding: 3px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
    .animation__button-close:focus {
      outline: 0;
      box-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.1); }
    .animation__button-close:hover {
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
    .animation__button-close:active {
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
  .animation__mover {
    overflow: hidden;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation-timing-function: linear;
    animation: moveBoxInPath;
    animation-iteration-count: infinite;
    animation-play-state: paused; }
    .animation__mover-div {
      border-radius: 50%;
      z-index: -2;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      animation: moveBee;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: paused; }
  .animation__image {
    width: 4rem;
    height: 4rem;
    animation: waggle;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-play-state: paused; }
  .animation__turner {
    position: absolute;
    bottom: 0;
    left: calc(50% - 4rem/ 2);
    height: 4rem;
    width: 4rem;
    animation: turnBee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused; }

.header {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%; }
  .header__content {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center; }
    .header__content-image {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      height: 50%;
      width: auto; }
    .header__content-text {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%); }

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: #ac4205;
  color: #f8e264;
  font-size: 1.2rem;
  letter-spacing: 2px;
  box-shadow: 0.25rem -0.25rem 0.5rem rgba(0, 0, 0, 0.5); }
  .footer__attributes-button {
    font-size: 1rem;
    display: inline;
    cursor: pointer;
    border-bottom: 1px solid; }
  .footer__attributes {
    visibility: visible;
    padding-top: 1.5rem; }
    .footer__attributes-hidden {
      display: none; }
