.header {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;

  &__content {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;

    &-image {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      height: 50%;
      width: auto;
    }

    &-text {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
