.section {
  &__simulation {
    position: relative;
    height: 100vw;
    max-height: 800px;
  }

  &__simulation-2 {
    position: relative;
    height: 100vw;
    max-height: 800px;
  }

  &__animation {
    position: relative;
    height: 100vw;
    max-height: 800px;
  }
}
