.section {
  &__header {
    position: relative;
    height: 50vh;
    background-image: url(../img/honeycomb-bg.png);
    background-size: cover;
  }
  &__simulation {
    position: relative;
    height: 100vw;
    max-height: 800px;
  }

  &__simulation-2 {
    position: relative;
    height: 100vw;
    max-height: 800px;

    &-closed {
      height: 0;
      visibility: hidden;
      margin-bottom: 0;
    }
  }

  &__animation {
    position: relative;
    height: 100vw;
    max-height: 800px;

    &-closed {
      height: 0;
      visibility: hidden;
      margin-bottom: 0;
    }
  }
}
