.section {
  &__header {
    position: relative;
    height: 50vh;
    background-image: url(../img/honeycomb-bg.png);
    background-size: cover;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.418);
  }
  &__simulation {
    position: relative;
    height: 100vw;
    max-height: 800px;
  }

  &__simulation-2 {
    position: relative;
    height: 100vw;
    max-height: 800px;

    &-closed {
      height: 0;
      visibility: hidden;
      margin-bottom: 0;
    }
  }

  &__animation {
    position: relative;
    height: 100vw;
    max-height: 800px;

    &-closed {
      display: none;
      margin-bottom: 0;
    }
  }
}
