.simulation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90vw;
  width: 90vw;
  max-width: 640px;
  max-height: 640px;

  &__sky {
    height: 25%;
    width: 100%;
    background-color: skyblue;
    position: relative;

    &-sun {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 6rem;
      height: 6rem;
    }
  }

  &__field {
    height: 75%;
    width: 100%;
    background-color: rgb(3, 187, 3);
    position: relative;

    &-hive {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4rem;
      height: 4rem;

      &-img {
        height: 4rem;
        width: 4rem;
      }
    }

    &-flower {
      height: 2rem;
      width: 2rem;
    }

    &__quadrant-relative-div {
      position: relative;
      height: 100%;
      width: 100%;
    }

    &__quadrant-left-top {
      position: absolute;
      border: 1px red solid;
      top: 0;
      left: 0;
      height: 50%;
      width: 50%;
    }
    &__quadrant-right-top {
      position: absolute;
      border: 1px red solid;
      top: 0;
      right: 0;
      height: 50%;
      width: 50%;
    }
    &__quadrant-left-bottom {
      position: absolute;
      border: 1px red solid;
      bottom: 0;
      left: 0;
      height: 50%;
      width: 50%;
    }
    &__quadrant-right-bottom {
      position: absolute;
      border: 1px red solid;
      bottom: 0;
      right: 0;
      height: 50%;
      width: 50%;
    }
  }
}

#flower-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-8 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-11 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-13 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-14 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-15 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-16 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-17 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-18 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-19 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#flower-20 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
